<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset your password</title>

    <link rel="stylesheet" type="text/css" href="stylesheets/reset-password.css">
</head>
<body>
<div class="widget reset-password ">
    <form action="" method="post" novalidate="">
        <fieldset>
            <label for="newPassword">Email:</label>
            <input id="newPassword" type="password" value="" maxlength="255" placeholder="New Password">
            <p class="error newPassword hidden"></p>

            <label for="newPasswordRepeat">Password:</label>
            <input id="newPasswordRepeat" type="password" value="" maxlength="255" placeholder="Confirm New Password">
            <p class="error newPasswordRepeat hidden"></p>

            <button id="resetPasswordButton" class="btnText" type="submit">RESET PASSWORD</button>
            <p class="error submission hidden"></p>
        </fieldset>
    </form>

    <div class="overlay">
        <div class="inner">
            <div class="message"></div>
        </div>
    </div>
</div>

<script type="text/javascript">
  const resetPasswordButton = document.getElementById('resetPasswordButton');

  resetPasswordButton.addEventListener('click', resetPassword);

  function resetPassword(event) {
    event.preventDefault();

    const token = document.location.href.split('token=')[1];
    const newPassword = document.getElementById('newPassword').value;
    const newPasswordRepeat = document.getElementById('newPasswordRepeat').value;
    const reqData = `newPassword=${newPassword}&newPasswordRepeat=${newPasswordRepeat}&token=${token}`;

    makeAjaxRequest(reqData, "http://localhost:3000/user/reset-password", (status, response) => {
      if (status === 200) {
        return alert(response.message);
      }

      const { error } = response;

      alert(error.message);
    });
  }

  const makeAjaxRequest = (data, url, callback) => {
    const xHttp = new XMLHttpRequest();

    xHttp.open("POST", url, true);

    xHttp.onreadystatechange = function () {
      if (this.readyState === 4) {
        return callback(this.status, JSON.parse(xHttp.response));
      }
    };

    xHttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
    xHttp.send(data);
  }
</script>
</body>
</html>
